@font-face {
  font-family: "Pretendard GOV Variable";
  src: url("../fonts/PretendardGOVVariable.woff2") format("woff2-variations");
  font-weight: 100 900; /* Variable range */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Chulseokbu";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Hakgyoansim Chulseokbu TTF L.ttf") format("truetype"),
}

@font-face {
  font-family: "Hakgyoansim Chulseokbu";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Hakgyoansim Chulseokbu TTF B.ttf") format("truetype"),
}

@font-face {
  font-family: "SolmoeKimDaeGeon";
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/SolmoeKimDaeGeon-Light.woff2") format("woff2"),
}

@font-face {
  font-family: "SolmoeKimDaeGeon";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/SolmoeKimDaeGeon-Medium.woff2") format("woff2"),
}

* {box-sizing: border-box;}
html {font-size: 10px; scroll-behavior: smooth;}
body {font-family: "Pretendard GOV Variable", sans-serif; scroll-behavior: smooth; color: #141414; letter-spacing: -0.025em; line-height: 1.3}
body::-webkit-scrollbar {width: 8px;}
body::-webkit-scrollbar-thumb {background-color: #ccc; border-radius: 10px; background-clip: padding-box; border: 2px solid transparent;}
body::-webkit-scrollbar-track {background-color: #fff;}

.hc {font-family: "Hakgyoansim Chulseokbu";}
.sk {font-family: 'SolmoeKimDaeGeon';}

:root {
    --innerMo: 91.46%;
    --fcb: #3B5F8F;
    --fcdb: #2C3E50;
    --fco: #EBA63F;
    --fcdo: #C77947;
    --fcs: #6FAED9;
    --fcg: #4F9E60;
}

/* font size */
.fs11 {font-size: 1.1rem}
.fs12 {font-size: 1.2rem}
.fs13 {font-size: 1.3rem}
.fs14 {font-size: 1.4rem}
.fs15 {font-size: 1.5rem}
.fs16 {font-size: 1.6rem}
.fs17 {font-size: 1.7rem}
.fs18 {font-size: 1.8rem}
.fs19 {font-size: 1.9rem}
.fs20 {font-size: 2.0rem}
.fs21 {font-size: 2.1rem}
.fs22 {font-size: 2.2rem}
.fs23 {font-size: 2.3rem}
.fs24 {font-size: 2.4rem}
.fs25 {font-size: 2.5rem}
.fs26 {font-size: 2.6rem}
.fs27 {font-size: 2.7rem}
.fs28 {font-size: 2.8rem}
.fs29 {font-size: 2.9rem}
.fs30 {font-size: 3rem}
.fs31 {font-size: 3.1rem}
.fs32 {font-size: 3.2rem}
.fs33 {font-size: 3.3rem}
.fs34 {font-size: 3.4rem}
.fs35 {font-size: 3.5rem}
.fs36 {font-size: 3.6rem}
.fs37 {font-size: 3.7rem}
.fs38 {font-size: 3.8rem}
.fs39 {font-size: 3.9rem}
.fs40 {font-size: 4.0rem}
.fs44 {font-size: 4.4rem}
.fs45 {font-size: 4.5rem}
.fs47 {font-size: 4.7rem}
.fs48 {font-size: 4.8rem}
.fs50 {font-size: 5rem}
.fs52 {font-size: 5.2rem}
.fs54 {font-size: 5.4rem}
.fs55 {font-size: 5.5rem}
.fs60 {font-size: 6rem}
.fs64 {font-size: 6.4rem}
.fs65 {font-size: 6.5rem}
.fs70 {font-size: 7rem}
.fs80 {font-size: 8.0rem}
.fs88 {font-size: 8.8rem}
.fs96 {font-size: 9.6rem}
.fs109 {font-size: 10.9rem}
.fs140 {font-size: 14rem}

/* font color */
.fcf {color: #fff}
.fc14 {color: #141414;}
.fc33 {color: #333333;}
.fc66 {color: #666666;}
.fc88 {color: #888888;}
.fcaa {color: #aaaaaa;}
.fccc {color: #cccccc;}
.fce7 {color: #e7e7e7;}
.fcf5 {color: #f5f5f5;}
.fcb {color: #3B5F8F;}
.fcdb {color: #2C3E50;}
.fco {color: #EBA63F;}
.fcdo {color: #C77947;}
.fcs {color: #6FAED9;}
.fcg {color: #4F9E60;}

/* font weight */
.fwt100 {font-weight: 100;}
.fwt200 {font-weight: 200;}
.fwt300 {font-weight: 300;}
.fwt400 {font-weight: 400;}
.fwt500 {font-weight: 500;}
.fwt600 {font-weight: 600;}
.fwt700 {font-weight: 700;}
.fwt800 {font-weight: 800;}
.fwt900 {font-weight: 900;}
.fwtbold {font-weight: bold}

/* line-height */
.lh150 {line-height: 1.5;}
.lh130 {line-height: 1.3;}

/* inner */
.inn1600 {max-width: 160rem;}
.inn1058 {max-width: 105.8rem;}
.inn1330 {max-width: 133rem;}
.inn960 {max-width: 96rem;}

/* css */
.block {display: block}
.inblock {display: inline-block;}

.flex {display: flex;}
.row {flex-direction: row}
.column {flex-direction: column;}
.justy_btw {justify-content: space-between;}
.justy_cnt {justify-content: center;}
.justy_ard {justify-content: space-around;;}
.alc {align-items: center;}
.alstart {align-items: flex-start;}
.alend {align-items: flex-end;}
.fxwrap {flex-wrap: wrap}

.abs {position: absolute;}
.fixed {position: fixed;}
.rel {position: relative;}
.x_center {left: 50%; transform: translateX(-50%);}
.y_center {top: 50%; transform: translateY(-50%);}
.w_center {left: 50%; top: 50%; transform: translate(-50%,-50%);}
.g_center {display: grid; place-items: center;}

.t_center {text-align: center}
.m_center {margin: 0 auto;}
.w100 {width: 100%;}
.h100 {height: 100%;}

.right0 {right: 0}
.left0 {left: 0}
.top0 {top: 0}
.bottom0 {bottom: 0}

.pointer {cursor: pointer;}

.img > img {width: 100%; display: block;}

.pc_view {display: block;}
.mo_view {display: none;}
.pc_view_flex {display: flex;}
.mo_view_flex {display: none;}


@media all and (max-width: 1320px){

}

@media all and (max-width: 880px){
    html {font-size: 2.651vw}

    .pc_view {display: none;}
    .mo_view {display: block;}
    .pc_view_flex {display: none;}
    .mo_view_flex {display: flex;}

}

@media all and (max-width: 420px){

}
