/** 레이아웃 공통 **/
#header {z-index: 9999}
#header .pcHeader {}
#header .pcHeader .inner {}
#header .pcHeader .logo {}
#header .pcHeader .logo a {}
#header .pcHeader .gnb {gap: 1.4rem;}
#header .pcHeader .gnb .lst {}
#header .pcHeader .gnb .lst.on {font-weight: bold;}
#header .pcHeader .gnb .lst + .lst::before {content: ''; display: block; position: absolute; width: 0.6rem; height: 0.6rem; background: #f5f5f5; top: 50%; transform: translateY(-50%); right: calc(100% + 0.4rem); border-radius: 50%;}
#header .pcHeader .gnb .lst a {line-height: 1.5; padding: 2.1rem 0; width: 18rem; display: block; text-align: center; transition: 0.2s; border-radius: 0 0 1.2rem 1.2rem;}
#header .pcHeader .gnb .lst:hover a {background: var(--fcb);}

@media all and (max-width: 880px){
    #header {}
}

#footer {background: #212121;}
#footer .inner {max-width: 168rem; padding: 6rem 0;}
#footer .ftlogo {margin-bottom: 2.4rem; width: 25rem;}
#footer .ftinfo {}
#footer .ftinfo li {}
#footer .ftinfo li + li {padding-left: 1.2rem; margin-left: 1.2rem;}
#footer .ftinfo li + li::before {content: ''; display: block; position: absolute; width: 1px; height: 70%; background: #666666; left: 0; top: 50%; transform: translateY(-50%);}
#footer .ftinfo li span {padding-right: 0.8rem;}
#footer .ftbot {margin-top: 0.8rem;}
#footer .ftbot li {}
#footer .ftbot li + li {padding-left: 1.2rem; margin-left: 1.2rem;}
#footer .ftbot li + li::before {content: ''; display: block; position: absolute; width: 1px; height: 70%; background: #666666; left: 0; top: 50%; transform: translateY(-50%);}

@media all and (max-width: 880px){
    #footer {}
    #footer .inner {max-width: var(--innerMo); padding: 4rem 0 6rem;}
    #footer .ftlogo {width: 21.5rem;}
    #footer .ftinfo {flex-direction: column; gap: 0.8rem; font-size: 1.4rem;}
    #footer .ftinfo li {}
    #footer .ftinfo li + li {padding: 0; margin: 0;}
    #footer .ftinfo li + li::before {display: none;}
    #footer .ftinfo li span {}
    #footer .ftbot {flex-direction: column; gap: 0.8rem; font-size: 1.4rem;}
    #footer .ftbot li {}
    #footer .ftbot li + li {padding: 0; margin: 0;}
    #footer .ftbot li + li::before {display: none;}
}



















