/* Reset */
* {margin:0; padding:0; position:relative;}
body {margin:0; padding:0; height:100%; color:#000; position:relative;}
div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td,button,textarea,select {margin:0; padding:0; }
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display:block}
h1,h2,h3,h4,h5,h6 {font-weight:normal; font-size:100%}
ul,ol,dl,dt,dd,li {list-style:none}
fieldset {border:none}
img {border:0; vertical-align:middle}
strong {font-weight:bold; letter-spacing:-0.05em;}
address,em {font-style:normal; color:#969696}
hr {display:none}
table {border-collapse:collapse; width:100%}
table tr:first-child th, table tr:first-child td {border-top:0;}
table tr th:first-child, table tr td:first-child {border-left: 0;}
table tr th:last-child, table tr td:last-child {border-right: 0;}
th {font-weight:normal}
a {color:inherit; text-decoration:none; cursor:pointer; outline:none;}
a:link, a:visited, a:active, a:hover,a:focus {text-decoration:none; outline:none; color:inherit;}
caption,legend {visibility:hidden; width:0; height:0; font-size:0; line-height:0}
button {cursor:pointer;border:0;background-color:transparent;padding:0;margin:0; outline:none;}
button > span,button > em {position:relative;top:0;left:0;}
label {line-height:13px;}
mark {background:none; color:inherit;}
textarea {padding:10px; background: #fefefe; border:1px solid #e2e2e2; border-radius: 3px; box-shadow:inset 1px 3px 4px -3px rgba(0,0,0,0.1); resize:none;}
select {padding: 6px 4px 6px 4px; border-radius: 3px; border: 1px solid #e2e2e2; background: #FFF; color: #696F74; font-size: 13px !important; line-height: 18px !important; font-weight: normal; }
input[type="text"], input[type="password"] {height:32px; padding:0 5px; line-height:18px; text-indent:3px; color: #696F74; vertical-align:middle;
background: #fefefe; border:1px solid #e2e2e2 /*!important*/; border-radius: 3px; box-shadow: inset 1px 3px 4px -3px rgba(0,0,0,0.1);}
/*input[type=file] {padding:5px; border:1px solid #bfbfbf\0/IE8+9; .border:1px solid #bfbfbf; color:#666; background:none; border:none}*/
input[type="file"] {padding:5px; border:1px solid #e2e2e2; color:#666; background:none; border:none}
input[type="image"], input[type="checkbox"] {border:0 none !important; vertical-align: middle; margin-right: 2px;}
input[type='checkbox'], input[type="radio"] {width:16px; height:16px; position:relative; top:1px; vertical-align:middle; margin-right:3px;}
input[type="submit"] {-webkit-appearance: none; border-radius: 0;}
i {font-style: normal;}
